@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.body-register {
  background-image: url('../assets/img/warrior-looking-at-the-sunset.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-register {
  background-color: #00000090;
  padding: 2% 2%;
  border-radius: 15px;
  box-shadow: 1px 1px 4px 0px #000000;
}

.h1-register {
  text-align: center;
  margin-top: -5px;
  color: #9C8E89;
}

.text-field-register {
  box-sizing: border-box;
  position: relative;
  height: auto;
  color: #918585;
}

.text-field-register > input {
  width: 100%;
  min-width: 180px;
  padding-top: 10%;
  padding-bottom: 2%;
  display: inline-block;
  outline: none;
  border: none;
  border-bottom: 2px solid;
  background-color: transparent;
  color: #c0c0c0;
}

.text-field-register > input:focus {
  transition: all 0.3s ease-out;
  padding-top: 10%;
  padding-bottom: 2%;
}

.text-field-register > label {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 15px;
  transition: all 0.3s ease-out;
  font-size: 13pt;
}

.text-field-register > input:focus + label,
.text-field-register > input:valid + label {
  font-size: 10pt;
  padding-top: 0px;
  margin-bottom: 25%;
}

.fa-eye{
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 16px;
  cursor: pointer;
}

.class-button-register > button[type='submit'] {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 15% 0;
  border-radius: 5px;
  padding: 2% 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11pt;
  text-align: center;
  border: 1px solid #000000;
  color: #fff;
  background-color: #d1181870;
}

.class-button-register > button[type='submit']:hover {
  background-color: #00860970;
  border: 1px solid black;
  font-weight: 500;
  transition: all ease-out 0.4s;
  color: #fff;
  cursor: pointer;
}

@media only screen and (max-width: 7680px) {
  .container {
    min-height: 260px;
    min-width: 210px;
  }
}
